# Python.
__pycache__
*.pyc
*.egg-info
build
dist

# Virtualenv.
.venv

# Pytest.
.coverage
htmlcov
.cache

# Sublime Text.
*.sublime-project
*.sublime-workspace

# Built documentation.
/docs/build

# Generic output directories.
output

# Temporary directories.
temp
