# Python.
__pycache__
*.pyc
*.egg-info
build
dist

# Virtualenv.
.venv

# Pytest.
.coverage
htmlcov
.cache

# Nastran temp
*.dmp
*.LOG
*.rsf
*.FNO
*.sta
*.OUT
fort.10

# Sublime Text.
*.sublime-project
*.sublime-workspace

# Built documentation.
/docs/build

# Generic output directories.
output

# Temporary directories.
temp
/test/nastran/data
/test/nastran/temp
/test/input/ach